@model IEnumerable<LessonsManagement.App.ViewModels.EventTypeViewModel>

@{
    ViewData["Title"] = "Event Type";
}

<h1>@ViewData["Title"]</h1>

<p>
<a class="btn btn-info" asp-action="Create">Create New Event Type</a>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationTimeInMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DurationTimeInMinutes)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a> |
                    <a class="btn btn-warning" asp-action="Edit"  asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>
