@model LessonsManagement.App.ViewModels.FileImportedViewModel

@{
    ViewData["Title"] = "Delete File";
}


<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.FilePath)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.FilePath)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FileDescription)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.FileDescription)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" asp-action="Index">Back</a>
        </form>
    </div>
